body {
    font-family: Roboto;
    font-size: 14px;
}


/* navbar */

.nav-link {
    color: #000;
    margin-left: 15px;
}

.active {
    color: #F98404;
}

.nav-link:hover{
    color: #000;
    border-bottom: 1px solid #44B564;
}

.navbar-brand {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #44B564;
    font-weight: bold;
    font-size: 25px;
    color: #333333;
}

/* header */

.alert {
    color: #FF0000;
    font-size: 18px;
}

.headTitle {
    color:#333333;
    font-size: 42px;
    font-weight: bold;
    width: 60%;
}

.headText {
    font-size: 18px;
    color: #333333;
    width : 60%;
}

.btn-success {
    border-radius: 40px;
}

.imgHead {
    width: 100%;
    height: auto;
}

/* cases */

.flexCases {
    width: 24%;
}

.totalCase {
    font-size: 18px;
    color: #333333;
}

.count {
    font-size: 24px;
    color: #333333;
    font-weight: bold;
}

.count2 {
    font-size: 24px;
    color: #64CF82;
    font-weight: bold;
}

.count3 {
    font-size: 24px;
    color: #FF0000;
    font-weight: bold;
}

.caseText {
    font-size: 14px;
}
/* what we do */
.what-we-do {
    padding: 100px 0px;
}
  
.what-we-do .img-user {
    height: 450px;
}

.text-what {
    padding-top: 1.2rem !important;
}

.text-cov {
    font-size: 25px;
}

.list-desc {
    font-size: 1.2vw;
}

@media only screen and (min-width: 350px) and (max-width: 450px) {
	.content-what{
    margin-top: 120px;
	}
}

@media only screen and (min-width: 350px) and (max-width: 450px) {
	.list-desc{
    font-size: 15px;
	}
}

/* prevention */
.whyus{
    margin-top: 85px;
  }
  .why-us {
      padding-top: 35px;
      padding-bottom: 45px;
  }
  .why-us.content{
      box-sizing: border-box;
      padding-left: 10px;
      box-shadow: 0px 0px 44px -5px rgba(102, 102, 102, 0.1);
      border-radius: 25px;
  }
  .mg-b-0 {
      margin-bottom: 0;
  }
  
  .mg-b-100 {
      margin-bottom: 100px;
      margin-left: 265px;
  }
  .img-content {
    margin-left: 65px;
    margin-top: -100px;
  }
/* end prevention */
/* Symptoms */
.img-struktur{
    width: 40%;
    margin-top: 15px;
    margin-left: 365px;
}
.img-frame{
    position: absolute;
    width: 251px;
    height: 236px;
    left: 72px;
}
.ml-6{
    /* margin-bottom: 100px; */
    margin-left: 265px;
}
/* end Symptoms */